.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid greenyellow;
  padding-bottom: 1.5em;
}
.containerInputs {
  display: flex;
}

.dimension {
  width: 6em;
  display: flex;
  flex-direction: column;
}
.btn {
  margin: 1.5em 0;
}